# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
.venv/
venv/
env/

# FAISS + data
faiss.index
texts.pkl
repos/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env